@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('./Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    font-weight: normal;
    font-style: normal;
    src: url('./Roboto-Bold.ttf');
}